<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Clean Architecture Unit Test files.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Feature Name</string>
			<key>Description</key>
			<string>The name of the ViewController, Router and ViewModel to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Module1</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Type:</string>
			<key>Description</key>
			<string>What kind of Objective-C source to create</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Classes</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___FILEBASENAME___DI.swift</string>
							<string>___FILEBASENAME___Router.swift</string>
							<string>___FILEBASENAME___ViewController.swift</string>
							<string>___FILEBASENAME___ViewModel.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___FILEBASENAME___ViewModel.swift</key>
							<dict>
								<key>Path</key>
								<string>Classes/___FILEBASENAME___ViewModel.swift</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							<key>___FILEBASENAME___DI.swift</key>
							<dict>
								<key>Path</key>
								<string>Classes/___FILEBASENAME___DI.swift</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							<key>___FILEBASENAME___Router.swift</key>
							<dict>
								<key>Path</key>
								<string>Classes/___FILEBASENAME___Router.swift</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							<key>___FILEBASENAME___ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Classes/___FILEBASENAME___ViewController.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Directories</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>ViewModel.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>ViewModel.swift</key>
							<dict>
								<key>Path</key>
								<string>ViewModel.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Default</key>
			<string>Classes</string>
			<key>Values</key>
			<array>
				<string>Classes</string>
				<string>Directories</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
